/* ========================== Обнуляющий стиль ================================================== */
@import "null.css";

/* ========================== Шрифты ============================================================ */

/* ====== Lato ========== */
@font-face {
    font-family: "Lato";
    src: url("../FONTS/Lato/Lato-Regular.woff2") format("woff2"), url("../FONTS/Lato/Lato-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("../FONTS/Lato/Lato-Bold.woff2") format("woff2"), url("../FONTS/Lato/Lato-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("../FONTS/Lato/Lato-Black.woff2") format("woff2"), url("../FONTS/Lato/Lato-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* ================================================================================================ */
body {
    font-family: "Lato", sans-serif;
    color: #1e212c;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.block {
    max-width: 1260px;
    margin: 183px auto 0;
    padding: 0 15px 0 15px;
}
.content {
    max-width: 390px;
    margin: 0 0 0 auto;
}
.header h2 {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.header h1 {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    letter-spacing: -0.6px;
}
header {
    margin-bottom: 40px;
}

.content__list {
    line-height: 1.6;
    margin-bottom: 48px;
}
.content__list li {
    background-image: url("../IMG/icon2.svg");
    background-repeat: no-repeat;
    background-position: 0 5px;
    padding-left: 32px;
    min-height: 25px;
    margin-bottom: 12.5px;
}
.content__button {
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #ffffff;
    width: 161px;
}
.content__button a {
    display: inline-block;
    width: 161px;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    border-radius: 4px;
    padding: 0px 32px;
}
.button {
    text-align: end;
    font-size: 0px;
}
.button a {
    font-size: 14px;
    display: inline-block;
    padding: 15px;
    background-image: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    margin-right: 30px;
    border-radius: 10px;
    overflow: hidden;
}
